[submodule "server/fadeories"]
    path = server/fadeories
    url = https://github.com/dartaryan/fadeories.git
[submodule "client/fadeories"]
	path = client/fadeories
	url = https://github.com/dartaryan/fadeories.git
